PORT=4000
MONGODB_URI="mongodb+srv://kavinraj292008_db_user:0GpKuEWEpb6YqeKK@cluster1.2wveaot.mongodb.net"
JWT_SECRET=your_jwt_secret_key_here
AI_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=uploads
NODE_ENV=development